<ion-view view-title="Search #hashtags">
  <ion-content class="padding">
  <div class="list">
  <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="tagname" placeholder="Search">
      </label>
</div>
  <div class="padding">
    <button ng-click="searchApi(tagname)" class="button button-block button-dark">
  Go!
</button>
</div>

<div ng-show="data">
  <button ng-click="genericOnClick(data)" class="button button-assertive">Upload</button>
    <input id="selectAllCheck" type="checkbox" value="checkbox" ng-checked="selectedAll == true" ng-click="checkAll(data)" />
    Select All</input>
<div class="row" ng-repeat="image in data" ng-if="$index % 4 === 0">
        <div class="col col-25" ng-if="$index < data.length">
<<<<<<< HEAD
            <a href="#/tab/imageDetail" ng-click="setImage(data[$index].images.standard_resolution.url)"><img ng-src="{{data[$index].images.thumbnail.url}}" width="100%" /></a> 
=======
            <img ng-src="{{data[$index].images.thumbnail.url}}" width="100%" />
            <input id="{{data[$index].images.standard_resolution.url}}" type="checkbox" value="{{data[$index].images.standard_resolution.url}}" ng-checked="selection.indexOf('{{data[$index].images.standard_resolution.url}}') > -1" ng-click="toggleSelection('{{data[$index].images.standard_resolution.url}}')" />
            {{$index+1}}
            <label for="{{data[$index].images.standard_resolution.url}}"></label>
>>>>>>> 91cef705862f1d7c8c4fab6edab3d3bd1ad15f2f
        </div>
        <div class="col col-25" ng-if="$index + 1 < data.length">
            <img ng-src="{{data[$index + 1].images.thumbnail.url}}" width="100%" />
            <input id="{{data[$index + 1].images.standard_resolution.url}}" type="checkbox" value="{{data[$index + 1].images.standard_resolution.url}}" ng-checked="selection.indexOf('{{data[$index + 1].images.standard_resolution.url}}') > -1" ng-click="toggleSelection('{{data[$index + 1].images.standard_resolution.url}}')" />
            {{$index+2}}
            <label for="{{data[$index + 1].images.standard_resolution.url}}"></label>
        </div>
        <div class="col col-25" ng-if="$index + 2 < data.length">
            <img ng-src="{{data[$index + 2].images.thumbnail.url}}" width="100%" />
            <input id="{{data[$index + 2].images.standard_resolution.url}}" type="checkbox" value="{{data[$index + 2].images.standard_resolution.url}}" ng-checked="selection.indexOf('{{data[$index + 2].images.standard_resolution.url}}') > -1" ng-click="toggleSelection('{{data[$index + 2].images.standard_resolution.url}}')" />
            {{$index+3}}
            <label for="{{data[$index + 2].images.standard_resolution.url}}"></label>
        </div>
        <div class="col col-25" ng-if="$index + 3 < data.length">
            <img ng-src="{{data[$index + 3].images.thumbnail.url}}" width="100%" />
            <input id="{{data[$index + 3].images.standard_resolution.url}}" type="checkbox" value="{{data[$index + 3].images.standard_resolution.url}}" ng-checked="selection.indexOf('{{data[$index + 3].images.standard_resolution.url}}') > -1" ng-click="toggleSelection('{{data[$index + 3].images.standard_resolution.url}}')" />
            {{$index+4}}
            <label for="{{data[$index + 3].images.standard_resolution.url}}"></label>
        </div>
    </div>
  </div>
  </ion-content>
</ion-view>
