<ion-view view-title="Selected Image">
  <ion-content class="padding">
     <button ng-click="oneImageUpload(thisImg)" class="button button-assertive">Upload</button>
     <img src="{{thisImg}}" width="100%"/>
  </ion-content>
</ion-view>
